.alert,
.success {
    width: 400px;
    text-align: center;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: whitesmoke;
    padding: 8px 0;
}

.alert {
    background-color: red;
}
.success {
    background-color: green;
}